@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
            </tr>
            @foreach(var person in Model.People.Content)
            {
                <tr>
                    <th>@person.Id</th>
                    <th>@person.FirstName</th>
                    <th>@person.LastName</th>
                    <th>@person.DateOfBirth</th>
                </tr>
            }
        </thead>
        <tbody>
        </tbody>
    </table>
</div>